:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --base-size: 16px;
  --duration: 0.5s;
  --type-primary: Neue Machina;
  --type-primary: Neue Machina;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-size: var(--base-size);
  height: 100%;
  background: var(--color-black);
}
@font-face {
  font-family: manrope vf;
  src: url(../fonts/Manrope/variable/ManropeGX.ttf)
    format("truetype-variations");
  font-style: normal;
  font-variation-settings: "wght" 500;
  font-variation-ligatures: normal;
  font-weight: 200 800;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope/web/Manrope-ExtraLight.woff2) format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope/web/Manrope-Light.woff2) format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope/web/Manrope-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope/web/Manrope-Medium.woff2) format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope/web/Manrope-SemiBold.woff2) format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope/web/Manrope-Bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope/web/Manrope-ExtraBold.woff2) format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Neue Machina";
  src: url("../fonts/Neue Machina/neuemachina-ultralight-webfont.woff2")
      format("woff2"),
    url("../fonts/Neue Machina/neuemachina-ultralight-webfont.woff")
      format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Neue Machina";
  src: url("../fonts/Neue Machina/neuemachina-light-webfont.woff2")
      format("woff2"),
    url("../fonts/Neue Machina/neuemachina-light-webfont.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Neue Machina";
  src: url("../fonts/Neue Machina/neuemachina-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/Neue Machina/neuemachina-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Machina";
  src: url("../fonts/Neue Machina/neuemachina-medium-webfont.woff2")
      format("woff2"),
    url("../fonts/Neue Machina/neuemachina-medium-webfont.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Neue Machina";
  src: url("../fonts/Neue Machina/neuemachina-bold-webfont.woff2")
      format("woff2"),
    url("../fonts/Neue Machina/neuemachina-bold-webfont.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Neue Machina";
  src: url("../fonts/Neue Machina/neuemachina-ultrabold-webfont.woff2")
      format("woff2"),
    url("../fonts/Neue Machina/neuemachina-ultrabold-webfont.woff")
      format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Neue Machina";
  src: url("../fonts/Neue Machina/neuemachina-black-webfont.woff2")
      format("woff2"),
    url("../fonts/Neue Machina/neuemachina-black-webfont.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/Neue Montreal/neuemontreal-light-webfont.woff2") format("woff2"),
    url("../fonts/Neue Montreal/neuemontreal-light-webfont.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/Neue Montreal/neuemontreal-lightitalic-webfont.woff2") format("woff2"),
    url("../fonts/Neue Montreal/neuemontreal-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/Neue Montreal/neuemontreal-regular-webfont.woff2") format("woff2"),
    url("../fonts/Neue Montreal/neuemontreal-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-weight: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/Neue Montreal/neuemontreal-italic-webfont.woff2") format("woff2"),
    url("../fonts/Neue Montreal/neuemontreal-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/Neue Montreal/neuemontreal-bold-webfont.woff2") format("woff2"),
    url("../fonts/Neue Montreal/neuemontreal-bold-webfont.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/Neue Montreal/neuemontreal-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/Neue Montreal/neuemontreal-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

/* BEM BEM BEM BEM BEM BEM BEM BEM BEM BEM BEM BEM BEM BEM BEM BEM BEM BEM BEM  */

/* BLOCK
A functionally independent page component that can be reused. In HTML, blocks are represented by the class attribute.  The block name describes its purpose ("What is it?" — menu or button) */

/* ELEMENT
A composite part of a block that can't be used separately from it. The element name describes its purpose ("What is this?" — item, text, etc.), */

/* MODIFIER
An entity that defines the appearance, state, or behavior of a block or element.
The modifier name describes its appearance ("What size?" or "Which theme?" and so on — size_s or theme_islands), its state ("How is it different from the others?" — disabled, focused, etc.) and its behavior ("How does it behave?" or "How does it respond to the user?" — such as directions_left-top).The modifier name is separated from the block or element name by a single underscore (_).
*/




.split__title {
  font-family: "Neue Machina", -apple-system, BlinkMacSystemFont, Roboto, helvetica neue, sans-serif;
  font-weight: 700;
  font-size: 3em;
}

.flex-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.flex-container {
  background: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.split {
  position: relative;
  width: 100%;
  height: 50%;
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  overflow: hidden;
  pointer-events: none;
}

.split:hover .video {
  opacity: 1;
}

.split h1 {
  z-index: 2;
}

.split h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  z-index: 3;
}

.split h2 a {
  pointer-events: auto;
  color: white;
  text-decoration: none;
  /* text-decoration: underline wavy rgba(255, 255, 255, 0.75);
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 1em;
  text-decoration-skip-ink: auto;  */
  letter-spacing: -0.05em;
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.split h2 a:hover {
}

.commercial h1 {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%);
}

.commercial:hover {
  height: 80%;
}

.commercial:hover .personal {
  height: 20%;
  opacity: 0.5;
}

.personal h1 {
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translate(-50%);
}

.personal:hover {
  height: 80%;
}

.personal:hover .commercial {
  height: 20%;
  opacity: 0.5;
}


.video {
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.video__split {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  left: 50%;
  transform: translate(-50%);
}

/* projects */

header .brand {
  widows: 100%;
  height: 100%;
}

header .logo {
  font-family: "Neue Montreal", -apple-system, BlinkMacSystemFont, Roboto, helvetica neue, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  font-weight: 900;
  /* font-variation-settings: 'wght' 900; */
  letter-spacing: -0.02em;
  color: white;
  position: absolute;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
  z-index: 0;
  height:100%;
}


header h1 a {
  text-decoration: none;
  color: #fff;
}

header .mainnav {
  font-family: "Neue Montreal", -apple-system, BlinkMacSystemFont, Roboto, helvetica neue, sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  color:white;
  position: absolute;
  right: 10vw;
  bottom: 1.5em;
}

.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 10vh; */
  margin-bottom:20vh;
}

.project {
  position: relative;
  display: block;
  width: 80vw;
  min-height: 60vh;
  /* overflow: hidden;   */
  background: black;
  margin: 20vh 0;
  pointer-events: none;
}

.project:hover .project--overlay  {
  background: rgba(0, 0, 0, 0.2);
}


.project .project--content {
  pointer-events: auto;
}

.project--content {
  position: sticky;
  position: -webkit-sticky;
  padding: 2rem 25% 2rem 2rem;
  color: white;
  top:75vh;
}

.project--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 2;
}

.project--video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video__project {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  min-width: 100%;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
}

.project--year {
  font-family: "Neue Montreal", -apple-system, BlinkMacSystemFont, Roboto, helvetica neue, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: #fff;
}

.project--title {
  font-family: "Neue Machina", -apple-system, BlinkMacSystemFont, Roboto, helvetica neue, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1;
  color: #fff;
}

.project--links--item {
  font-family: "Neue Montreal", -apple-system, BlinkMacSystemFont, Roboto, helvetica neue, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-right:0.5rem;
  color: #fff;  
}

.project--links--item__underline {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  .split {
    width: 50%;
    height: 100%;
  }

  .commercial h1 {
    top: 1em;
    left: auto;
    right: 0.5em;
    transform: translate(0);
  }

  .commercial:hover {
    width: 70%;
    height: 100%;
  }

  .commercial:hover .personal {
    width: 30%;
    height: 100%;
  }

  .personal h1 {
    top: 1em;
    right: auto;
    left: 0.5em;
    transform: translate(0);
  }

  .personal:hover {
    width: 70%;
    height: 100%;
  }

  .personal:hover .commercial {
    width: 30%;
    height: 100%;
    opacity: 0.1;
  }

  .logo {
  
    /* font-weight: 900; */
    font-size:9rem;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%); 
  }

  
   

  header .mainnav--item {
    
    font-size: 1rem;
  }

  .project {
    width: 80vw;
    min-height: 60vh;
    margin: 20vh 0;
  }

  .project:hover .project--overlay  {
    background: rgba(0, 0, 0, 0.2);
  }

  

  .project--content {
    padding: 2rem 25% 2rem 2rem;
    top:55vh;
  }

  .project--year {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }
  
  .project--title {
    font-size: 5rem;
    letter-spacing: -0.01em;
    line-height: 1.2;
  }
  
  .project--links--item {
    font-size: 1.5rem;
    margin-right:0.75rem;
  }

  .video__project {
    height:100%;
    width: auto;    
  }

  .video__project {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    min-width: 100%;
    height: 100%;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.2s;
    /* transition: transform 3.6s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.2s; */
  }

@media only screen and (min-width: 1920px) {
  .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    max-width: 90vw;
    max-height: 90vh;
  }

  .commercial,
  .personal {
    width: 50%;
    height: 100%;
  }
}


}

@media (min-aspect-ratio:16/9) {
  .video__project {
    width: 100%;
    height:auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video__project { 
      width:auto;
      height: 100%;
  }